/* some defaults */
body {
	background:black; color:#999; }
	
img, div, ul, li, a, fieldset, table, tr, th , td, span {
	border-color:#bbb; }
	
	
h1, h2, h3, h4, h5, h6 {
	font-weight:normal; }

a {
	color:white; 
	text-decoration:none;
	}   
/* #89ad46 / #349ba8 */

a:hover {
	color:#7ca2bc; text-decoration:none; border-color:#349ba8; }

input.text, textarea, input.datetime {
	border:1px solid #aaa; color:#333; }
	
   input.text:focus, input.text.focus, textarea:focus, input.datetime:focus, input.datetime.focus {
	   border:1px solid #349ba8; background:#f5fafb; }
	
input.submit {
	border:1px solid #aaa; background:#f3f3f3; padding:0.2em 0.6em; color:#333; }
	
	input.submit:hover, input.reset:hover {
		background:#c2e1e5; }
		
input.text.error, input.datetime.error {
	border-color:#c00; background:#f9e0e0; }
	
span.error {
	color:#c00; }
	
#content fieldset.error {
	border-color:#c00; background:#f9e0e0; }
	
input.reset {
	border:1px solid #aaa; background:#f3f3f3; padding:0.2em 0.6em; color:#666; }

label {
	color:#666; }
	
/*#content a:hover, #panels a:hover, #footer a:hover {
	background:#e8f1d8; }*/
	
/*
a:hover {
	text-decoration:none; }*/

/* head */

	/* logo */
	#logo {
		background:url(crn/slotech.png) no-repeat; }

	/* fresh news */
		#fresh_news_title, #fresh_news_all { 
			color:#aaa; background:#555; }
		
		#fresh_news_all { 
			border-top:1px solid white; }
		
		#fresh_news a, #fresh_news_all a {
			color:white; text-decoration:none; }
	
		#fresh_news a:hover, #fresh_news_all a:hover {
			text-decoration:underline; }

	/* banner, fresh articles */
			
		#fresh_articles a:hover img {
			border-color:#349ba8; }
	
		#banner div {
			background:#f3f3f3; }

	/* switch to fixed width and back link */
	#fixed_link {
		color:#aaa; text-decoration:none; }
	
	#fixed_link:hover {
		text-decoration:underline; }	

/* footer */
#footer {}
	
	#footer li {
		border-color:#999; }

	#footer, #footer a {
		color:#999; }
		
		#footer a:hover {
			color:#74a0bc; }

/* menus */
#menus {}

	/* menu */
	#menu {
		background:#a5c864; /*border:1px solid #999; border-left-width:0; margin-top:-1px; margin-bottom:-2px;*/ }
		
		#menu h2 a {
			color:black; font-weight:bold; text-decoration:underline; }
			
		#menu h2 a:hover {
			color:black; font-weight:bold; text-decoration:none; }
		
		#menu  a {
			color:black; font-weight:normal; text-decoration:underline; }
			
		#menu  a:hover {
			color:black; font-weight:normal; text-decoration:none; }
		
		#menu ul {
			color: black; list-style-type:circle; }

	/* poll */
	#poll { background:#4f5554; /*border:1px solid #999; border-left-width:0;*/ }

      #poll p, #poll span, #poll label, #poll .count {
         color:#b8b8b8; text-decoration:none; } 		
	
	   #poll a {
         color:#b8b8b8; text-decoration:underline; }
	
	   #poll a:hover {
			color:#74a0bc; text-decoration:none; }
	   
	   #poll h2 a {
			color:#b8b8b8; font-weight:bold; text-decoration:underline; }
	
	   #poll h2 a:hover {
			color:#74a0bc; font-weight:bold; text-decoration:none; }
	
		#poll .percentage {
			background:white; }
		
		#poll .percentage div {
			background:#74a0bc; }
		
/* panels */
	#panels div {
		background:#4f5554; border-color:#808080;}
	
		#panels label {
			color:#b8b8b8; }
			
		#panels a {
			color:#b8b8b8; text-decoration: underline;}
			
		#panels a:hover {
			color:#74a0bc; text-decoration: none;}
			
		#panels h2 {
			color:#81b3d2; background:#3f4544; border-bottom:1px solid #808080; font-weight:normal; }
			
		#panels div div {
			padding-bottom:3.2em; }
			
		#panels .user div {
			background:url(img/icons/user.png) no-repeat bottom right; margin-bottom:-7px;
			margin-right:-7px; padding-right:7px; }
			
		#panels .search div {
			background:url(img/icons/search.png) no-repeat bottom right; 
			margin-bottom:-7px;
			margin-right:2px; }
	
		#panels .settings div {
			background:url(img/icons/settings.png) no-repeat bottom right; margin-bottom:-7px;
			margin-right:1px; }

/* content */
	
.info, .info a {
	color:#74a0bc; }
	
	.info a.selected {
		text-decoration:none; color:black; font-weight:bold; }
	
	.info a:hover {
		color:white; text-decoration: underline;}
	
	#content .info li {
		border-left-width:2px; }
		
	#content .info .date {
		color:#74a0bc; }
	
.image {}

	.image .data .source, .image .data .source a {color:white; }
		
   .image .data .source a:hover {color: #7ca2bc;}

/* unpublished */		
.news_item.unpublished, .embargo {
	border-color:#a5c864; color:#78a622;}
	
	span.unpublished {
	color:#78a622; }

/* denied */
.news_item.denied {
	border-color:#f1b000; color:#f1b000;}
	
	span.denied {
		color:#d29900; }

/* deleted */		
.news_item.deleted {
	border-color:#c00; color:#c00; }
				
	span.deleted {
		color:#c00; }
		
.new {}

	.new .buttons {
		background:#f5f5f5; }
		
		#content .new .buttons .container ul {
			background:url(img/transparent.png); }
			
			.new .buttons .container ul a:hover {
				background:#c2e1e5; }
		
	.new .buttons a {}
			
		 .new .buttons a:hover {
			  border-color:#ccc #999 #999 #ccc; background-color:#4f5554; }
				
		 .new .buttons a.open {
			  border-color:#999 #ccc #ccc #999; background-color:#ccc; }
			
	.new .buttons .separator {
		 background:#bbb; }

.controls, .controls a { /* admin controls */
	color:#666; }
	
#content span.date, #content span.count, #content span.author a:hover, #content span.author a {
	color:#999; }
	
	#content span.author a {
		color:white; }
	
#content fieldset.search {
	background:#f5f5f5; }
	
	#content fieldset.settings {
		background:white; }
			
		#content fieldset.settings label {
			color:#333; }
	
	#content fieldset legend {
		color:#666; }
		
#content ul.extra a {
		color:#white }
		
	#content ul.extra a:hover {
		color:#74a0bc; }

/* styles */
#content h2 {
	color:#aaa; }

	#content h2 a {
		color:#aaa; text-decoration:underline; }
		
	#content h2 a.current {
		color:white; text-decoration:none; }
		
	#content h2 a:hover {
		color:#74a0bc; text-decoration:none; }

#content h3 {
	color:#dedede; font-weight:bold; }
	
	#content h3 a {
		color:#74a0bc; text-decoration: underline;}
		
	#content h3 a:hover {
		color:#74a0bc; text-decoration: none;}
	
	#content h3 span, #content h3 label {
		color:#999; font-weight:normal; }
		
	#content h3 span a {
		color:white; font-weight:normal; }
			
	#content h3 input.text {
		color:#4a4458; }
			
h4 {
	color:#87848c; font-weight:bold; font-size:1.2em; }
	
h5 {
	color:#87848c; font-weight:bold; font-style:italic; }

a.source {
	font-style:italic; }
	
blockquote {
	font-family:georgia, times, serif; font-style:italic; color:#999;
	background:url(img/quote.png) no-repeat top left !important;
	background:none; font-size:1.01em; line-height:1.4em;
}
	
	blockquote cite, blockquote cite a, blockquote cite:before {
		color:#999; }

pre code {
	color:#666;
}

#content ul {
	list-style-type:disc; }

	#content ul ul, #content ol ul {
		list-style-type:circle; }

var {
	font-style:normal; background:#fffe97; }

hr {
	color:#aaa; background:#aaa; }
	
#crta {
	color:#c00; background:#c00; }
	
.date_icon {
	background:url(cal.gif) no-repeat center center; }
	
.help, .help a {
	color:#666; }
	
.news_item a.comments {
	padding:0.6em 0.3em 0.6em 25px; background:url(img/comments.png) no-repeat center left;
	color:#74a0bc; }
	
.news_item a.comments:hover {color:white; text-decoration: underline;}

a.comments {
	padding:0.6em 0.3em 0.6em 25px; background:url(img/comments.png) no-repeat center left;
	color:#74a0bc; }
	
a.comments:hover {color:white; text-decoration: underline;}
	
/* calendar */
#calendar {
	background:white; }
		
	#calendar .days {
		color:#666; }
	
	#calendar .controls a {
		color:#666; }
	
	#calendar td a:hover {
		background:#c2e1e5; }
	
	#calendar h5 {
		color:black; }
		
	#calendar hr {
		color:#aaa; background:#aaa;}
		
	#calendar .today {
		font-weight:bold; }
		
/* forums */
.forums { }
		
	.forums th {
		color:#999; }
	
	.forums .even {
		background:#191919; }
	
	.forums .deleted {
		background:#f9e0e0; }
	
	.forums .sticky { 		
		border-bottom: 1px solid #bbb; background:#3f4544; }
		
	.forums .icon.new {
		color:#df847b;
		font-weight:bold; }
		
	.forums .icon.no_new {
		color:#dfcb7b; }
		
	.forums .main_title {
		background:#4f5554; border-width:1px; border-style:solid; }
						
	#content .forums .name div a {
		color:#999; }
	
	.forums .pages, .forums .pages a {
		color:#666; }
	
	#content .forums td .author {
	   color:#a1a4a4; }
	
	#content .forums td .author a {
		color:#a1a4a4; text-decoration: underline;}
		
	#content .forums td .author a:hover {
		color:#74a0bc; text-decoration: none;}
	
		
.post {}
	
	#content .post .user ul a {
		color:#666; }
		
	.post.even {
		background:#191919; }

	.post.deleted {
      background:#f9e0e0; }
		
	.post .signature {
		color:#666; }
	
	.post .history {
		margin-top: 2em; }
		
	.post a.avatar:hover {
		border-color:#349ba8; }
	
	#content .post .user .links, #content .post .user .links a {
		color:#666; }
		
	#content a.button {
		background:#4f5554; }
		
	#content a.button:hover {
		background-color:#a5c864; border-color: #999; color: black;}
		
	#content .pages, #content .pages a {
		color:white; }
		
	#content .pages span {
		color:#aaa; }
	
	#content .pages a.selected {
		color:black; font-weight:bold; text-decoration:none; }

	#content .controls {}
	
		#content .controls .cite {
			padding-left:20px; background:url(img/quote_small.png) no-repeat left center; }
		
		#content .post .controls ul.opened {
			background:url(img/transparent.png); }
		
		#content .post .controls ul a {
			border-color:#bbb; }
		
		#content .post .controls ul.closed li.first a {
			background:url(down.png) no-repeat center left; }
		
	#content .button.reply {
		padding-left:33px; background-image:url(img/reply.png); background-repeat:no-repeat;
		background-position:9% 50%; }		
	#content .button.new {
		padding-left:26px; background-image:url(img/new.png); background-repeat:no-repeat;
		background-position:8% 50%; }
	#content .button.settings {
		padding-left:26px; background-image:url(img/settings-small.png); background-repeat:no-repeat;
		background-position:8% 50%; }
	#content .button.user {
		padding-left:26px; background-image:url(img/user-small.png); background-repeat:no-repeat;
		background-position:8% 50%; }
		
	#content span.button { /* disabled button */
		color:#999; }
		
#content .thread_nav li span {
	color:#999; }
		
/* auto-complete */
	#content .autocomplete_list {
		background:white; }

	#content .autocomplete_list li.selected {
		background:#c2e1e5; }
		
	#content .autocomplete_list li.no_results {
		color:#666; }

/* textfield resizer */
div.grippie {
	background:#EEEEEE url(grippie.png) no-repeat scroll center 2px;
	border-color:#DDDDDD;
	border-style:solid;
	border-width:0pt 1px 1px;
	cursor:s-resize;
	height:9px;
	overflow:hidden;
}
.resizable-textarea textarea {
	background:#dedede;
	display:block;
	margin-bottom:0pt;
	width:100%;
	height: 20%;
}

del {
        color: red;
}

ins {
        color: green;
}
