/**
 * establish some defaults
 */

body, div, img, a, form, span, table, td, tr, th, ul, li, ol, dd, dt, em,
h1, h2, h3, h4, h5, h6, p, fieldset, legend, hr, blockquote, pre, code {
	margin:0; padding:0; border:0; font-size:1em; text-indent:0; }

blockquote, pre, code {
	font-size:1em; }
	
input, select, textarea {
	font-size:1em; margin:0; }

textarea {
	font-size: 1.3em;
	line-height:1.6em; }
	
body {
	font-size:75%; line-height:1.6em; font-family:Tahoma, Verdana, Helvetica, Arial, sans-serif; }
	
pre, code { /* default rule */
    font-size:1.1em; font-family:monospace;  }

:root pre, :root code { /* only for mozilla & safari */
    font-size:1.35em; }
    
pre code {
	font-size:1em !important; }

table { border-collapse:collapse; border-spacing:0; }

.clear {
	clear:both; height:1px; overflow:hidden; }
	
input.submit, input.reset {
	cursor:pointer; }

	.submit.send {
		font-weight:bold; padding-left:1.5em; padding-right:1.5em; }
	
input.text, input.submit, input.datetime {
	padding:0.1em 0.2em; }
	
acronym {
	border-bottom-width:1px; border-bottom-style:dotted; cursor:help; }

/* header*/
#head {
	margin:0 14em 0 13em; overflow:visible; position:relative; padding:0 2em;
	z-index:2; }
	
	* html #head { /* ie hack */
	display:inline-block; }

	#accesibility {
		position:absolute; left:0; top:-10em; }
		
	#logo {
		position:absolute; top:1.8em; left:-120px; text-decoration:none; margin-top:30px;
		margin-left:0; z-index:4; width:125px; height:54px; }
		
		#logo span {
		display:none; }
	
	/* fresh news */
		#fresh_news_title {
			z-index:1; line-height:1.8em; padding:0 0.4em; text-align:right; }
		
		#fresh_news {
			display:block; position:relative; z-index:2; height:1.8em;
			margin:-1.8em 8em 0 0; list-style-type:none; overflow:hidden; }
		
		#fresh_news_all {
			height:1.8em; list-style-type:none; overflow:hidden;
			top:1.8em; z-index:6; display:none; position:absolute;
			left:2em !important; left:0;
			right:2em; }
		
			#fresh_news li, #fresh_news_all li {
				display:block; height:1.8em; overflow:hidden; }
			
			#fresh_news a, #fresh_news_all a {
				padding:0 0.8em; line-height:1.8em; display:block;
				position:relative; height:1.8em; overflow:hidden; }
		
			* html #fresh_news li, * html #fresh_news_all li,
			* html #fresh_news a, * html #fresh_news_all a { /* ie hack */
				display:inline-block; }
				
			* html #fresh_news_all li { /* ie hack */
				float:left; clear:left; }
	
	/* fresh articles */
		#fresh_articles_title {
			display:none; }
		
		#fresh_articles {
			display:block; margin-top:5px; padding-right:480px; height:62px;
			text-align:justify; overflow:hidden; position:relative; }
				
			#fresh_articles span.end {
				padding-left:2500px; }
				
			#fresh_articles a img {
				border-width:1px; border-style:solid; }
			
			* html #fresh_articles a:hover { /* ie hack */
				border-width:1px; }
	
	/* banner*/
	#banner {
		margin-top:-62px; height:62px; text-align:right; }
		
		#banner div {
			width:468px; height:60px; float:right; border-width:1px; border-style:solid;
			position:relative; z-index:5; }
		
		#banner div div {
			width:auto; height:auto; float:none; }

	/* fix width link (written with javascript) */
	#fixed_link {
		position:absolute; right:-6em; top:0; line-height:0.9em;
		font-size:2em; }

/* basic content layout */
#page_content {
	margin:0 14em 0 13em; overflow:visible; position:relative; min-height:63em; }
	
	* html #page_content { /* ie hack */
		height:1px; display:inline-block; }
	
	#content {
		overflow:visible; margin-top:2em; padding:0 2em;
		position:relative; }
		
	#menus {
		position:absolute; left:-13em; top:2em; width:13em;
		padding-bottom:2em; }
		
	#panels {
		position:absolute; right:-14em; top:3.6em; z-index:2; width:14em;
		padding-bottom:2em; padding-top:1px; }



/* footer */
#footer {
	margin:0 15em 0 15em; padding-top:4em; overflow:visible; height:1.8em;
	clear:left; }
	
	* html #footer { /* ie hack */
		height:1px; display:inline-block; }

	#footer li {
		display:inline; border-left-width:1px; border-style:solid; line-height:1.8em; clear:none; }
	
	#footer li a {
			padding:0 0.5em; }
	
	#footer li.first {
		border-width:0; }
		
		#footer li.first a {
			padding-left:0; }
	
	#footer li.top {
		float:right; border-width:0; }
		
		#footer li.top a {
			padding:0; }


/* menus */
#menus {}
	
	#menu, #poll {
		width:13em; padding:1em 0 0.8em 0; list-style-type:none;
		-moz-border-radius-topright:8px; -moz-border-radius-bottomright:8px;
		-webkit-border-top-right-radius:8px; -webkit-border-bottom-right-radius:8px;
		border-top-right-radius:8px; border-bottom-right-radius:8px; }

	#menu {}
	
		#menu ul {
			margin-left:0; list-style-position:inside; }
		
			#menu li {
				padding:0 0.5em 0.8em 1em; }
			
				#menu li li {
					padding:0; }
	
	#poll {
		margin-top:1.4em; }
	
		#poll h2 {
			margin:0 0 0 1em; }
			
		#poll fieldset {
			padding:0 1em; margin-bottom:1em; }
			
		#poll label {
			display:block; padding-bottom:0.4em; clear:left; }
			
			#poll label input {
				float:left; padding:0; }
				
			#poll label span {
				margin-left:2em; display:block; }
				
				
		#poll p {
			padding:0 1em 0.8em 1em; }
			
		#poll input.submit {
			margin-top:0.8em; }
		
		#poll div {
			clear:left; margin-left:1em; }
			
			#poll div span {
				display:block; }
			
		#poll .count {
			float:right; width:3em; }
			
		#poll .percentage {
			width:7.5em; height:0.7em; margin:0.3em 0 0.75em 0; border-width:1px; border-style:solid;
			overflow:hidden; }
			
		#poll .percentage div {
			overflow:hidden; margin:0; height:100%; }

/* panels */
#panels {}
	
	#panels div {
		border-width:1px; border-style:solid; width:12.5em; margin-bottom:2.4em; margin-top:-2px;
		-moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px; }
	
		#panels h2 {
			padding:0 0.8em; -moz-border-radius-topleft:8px; -moz-border-radius-topright:8px;
			-webkit-border-top-right-radius:8px; -webkit-border-top-left-radius:8px;
			border-top-right-radius:8px; border-top-left-radius:8px;}
			
		#panels div div {
			padding:0 0.8em 1em 0.8em; list-style-type:none; margin:0.8em 0 0 0; border-width:0;
			-moz-border-radius:0; -webkit-border-radius:0; border-radius:0; width:auto; }
				
			#panels ul {
				padding:0; margin:1.6em 0 0 0; padding:0 0 1em 0; list-style-type:none }
				
				#panels ul li {
					padding:0; margin:0; }
						
			#panels li.username {
				padding:0 0.8em 0.8em 0.8em; }
			
			#panels legend {
				display:none; }
				
			#panels label {
				display:block; padding-bottom:0.8em; clear:left; }
				
			#panels input.text, #panels input.datetime {
				width:10em; padding:0.1em 0.2em; }
				
			#panels select {
				width:10.5em; }
			
			#personalization .font_size {
				padding-top:0.5em; }
				
			#personalization .style span {
				display:block; }
			
			#personalization .style a {
				width:1.1em; height:1.1em; float:left; border-width:1px; border-style:solid; margin:0 0.2em 0.2em 0;
				display:inline; }


/* content */
#content {}
	
	/* main page title */
	#content h2 {
		font-size:1.6em; line-height:1.4em; border-bottom-width:0.13em; border-bottom-style:solid;
		margin:0 0 0.845em 0; white-space: nowrap; width: 100%; overflow: hidden; text-overflow: ellipsis; -o-text-overflow: ellipsis; }
	
	/* item titles, subtitles */
	#content h3 {
		font-size:1.5em; line-height:1.4em; margin-bottom:0.733em; }
		
		#content h3 span, #content h3 label { /* normalize back to 1em */
			font-size:0.67em; }
		
		#content h3 input {
			width:20em; }
			
		#content h3 label {
			display:block; line-height:1.2em; }
			
	h4 {
		margin-top:0.8em; clear:both; }
		
		h4.new_post {
			margin-bottom:0.8em; }
			
	#content .info {
		list-style-type:none; margin-left:0; padding-left:0; margin-top:-1.2em; margin-bottom:1.2em; }
		
		#content .info li {
			display:inline; border-left-width:1px; border-left-style:solid; padding:0 0.7em; }
			
		#content .info li.first {
			padding-left:0; border-width:0; }
			
	/* news */
	.news_item {}
	
		.news_item.unpublished, .news_item.denied, .news_item.deleted, .embargo {
			margin:0 -12px; border-width:2px; border-style:solid; padding:1em 10px;
			position:relative; -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px; }
	
		.controls {
			text-align:right; margin-bottom:-1.6em; }
		
		#content ul.extra {
			list-style-type:none; margin-left:1.7em; position:relative; left:-2px; }
			
			#content .news_item .extra {
				margin-top:-0.8em; }
		
			#content ul.extra li {
				padding-left:0.8em; border-left-width:2px; border-left-style:solid; }
			
			* html #content ul.extra li { /* ie hack */
				display:inline-block; }	
				
		p.comments {
			margin-top:1.6em; }
	
	/* write news / posts */
	.new {}
	
		.new label {
			display:block; width:20em; }
	
		.new input.text, .new input.datetime {	
			width:25em; float:left; }
			
			.new p input.text, .new p input.datetime {
				width:15em; float:none; }
				
			.new h3 input.text, .new h3 input.datetime {
				float:none; }
		
		.new select {	
			width:18em; margin:0 0.5em; }
		
		.new label.content {
			margin:1.6em 0 0 0; padding:0; }
		
		.new .buttons {
			border-width:1px; border-style:solid; padding:1px 1px 0 1px; margin-bottom:-1px; }
				
			.new .buttons .container {
				float:left; position:relative; }
				
				#content .new .buttons .container ul {
					position:absolute; top:3px; left:3px; margin:0; list-style-type:none; border-width:1px;
					border-style:solid; padding:2px; display:none; z-index:20; }
					
					#content .new .buttons .container ul li {
						padding:0; float:left !important; width:20px; height:20px; overflow:hidden; }
						
						#content .new .buttons .container ul li a {
							display:block; line-height:16px; width:16px; text-align:center; padding:2px; margin:0; border-width:0; height:20px; }
			
			.new .buttons a {
				width:16px; padding:2px; height:16px; float:left; /*border-width:1px; border-style:solid;*/
				margin:3px; line-height:16px; text-align:center; text-decoration:none; overflow:hidden;
				background-repeat:no-repeat; background-position:center center; }
				
				.new .buttons a:hover {
					border-style:solid; border-width:1px; padding:1px; }
				
				.new .buttons a.open {
					border-style:solid; border-width:1px; padding:2px 0 0 2px; }
					
			.new .buttons .separator {
				height:14px; width:1px; overflow:hidden; padding:1px 0; margin:5px 4px; float:left; }
		
		.new .textarea_container {
			padding-right:8px; margin-bottom:0.8em; }
			
			.new textarea {
				width:100%; height:25em; padding:0.3em 3px; }
				
			.new.post_item textarea {
				height:20em; }
				
		#content .new fieldset {
			border-width:0; padding:0; margin:0em 0 3.2em 0; }
			
			#content .new fieldset label {
				width:28em; }
		
		.new .extra input.radio {
			margin-right:0.5em; }
			
		.new .extra input.submit {
			margin-top:0.8em; }
			
		.new .extra .add {
			padding-top:1.6em; }
		
		.new .extra .add input.submit {
			margin-top:0; }
			
		.new .controls .submit {
			padding:0.3em 0.8em; }
				
	/* common items */
	hr {
		height:0.09em; margin:2.355em 0; clear:both; }
		
		hr#crta {
			height:0.175em; margin:2.3125em 0; }
			
	img.smile {
		margin:-6px 0;}
			
	li.new_year {
		padding-top:1.6em; }
				
	#content p {
		padding-bottom:0.8em; text-align:justify; }

	#content blockquote {
		margin-bottom:0.8em; padding:0.2em 2.5em 0 2.5em; max-width:42em; }
		
		blockquote cite {
			display:block; text-align:right; }
		
		blockquote cite:before {
			content: '» '; }
	
	#content pre {
		margin:0 2.2727em 0.8em 2.2727em; padding:0; }
	
		#content pre code {
			display:block; overflow:auto; line-height:1.4545em;
			font-family:Courier, monospace; white-space:pre; }
	
	#content ol, #content ul { list-style-position:outside; margin:0 0 0.8em 2.5em; }
	
		#content ol ul, #content ol ol, #content ul ul, #content ul ol {
			margin:0.2em 0 0.6em 1.5em; }
				
	.image {
		margin:1em 4em 1em 2em; }
		
		.image .data {
			max-width:45em; padding-top:0; }
			
		.image p {
			text-align:left; margin-bottom:1em; }
			
		.image a {
			display:inline; float:left; margin:0 15px 3px 0;
			text-align:center; }
		
		.image a img {
			display:block; }
			
		.image .data a {
			margin:0; float:none; text-align:left; }
			
	dl {}
		
		dl dt {
			clear:left; float:left; width:20em; }
			
		dl dd {
			float:left; margin-left:2em; width:18em; }
			
	/*#content .avatar {
		border-width:1px; border-style:solid; width:50px; height:50px; float:left; margin-right:10px; }*/
		
	.list {
		float:left; width:50%; min-width:25em; }
	
	/* fieldsets */
	#content fieldset {
		border-width:1px; border-style:solid; -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px;
		padding:2em 1.5em 2em 2.5em; margin:0 0 3em 0; overflow:visible; clear:both; }
		
		fieldset .space {
			clear:both; height:1.6em; }
		
		#content fieldset.search ul {
			margin:0; }
		
		#content fieldset.search li {
			display:block; clear:both; padding-top:0.6em;
			position:relative; display:block; }
			
			#content fieldset.search li label {
				float:left; width:10em; }
			
			#content fieldset.search ul span, #content fieldset.search ul ul {
				float:left; padding:0; margin:0; }
				
				#content fieldset.search li * label {
					padding:0; display:block; width:auto; float:none;
					clear:both; padding-top:0.3em; }
				
				#content fieldset.search li li {
					padding-top:0; }
				
				#content fieldset.search li ul label {
					padding-top:0; }
					
				#content fieldset.search li ul select {
					margin-bottom:0.5em; }
			
			#content fieldset label span, #content fieldset div span {
				float:left; width:10em; }
		
		#content fieldset legend {
			display:none; }
			
		#content fieldset input.text, #content fieldset input.datetime {
			width:20em; float:left; }
			
		#content fieldset select {
			width:20.6em; float:left; }
			
		#content fieldset input.submit {
			padding:0.2em 3em; }
			
		#content fieldset .reset {
			float:right; display:inline; margin-right:1em; }
			
		#content fieldset .help {
			clear:both; padding-top:2em; }
			
		#content fieldset hr {
			margin:2em 0.5em 1.5em -0.5em; }
			
		/* error */
		body #content fieldset.error {
			padding-bottom:1.2em; }

			body #content fieldset.error ul {
				 }
			
		/* register, settings */
		
		#content fieldset.settings {
			-moz-border-radius:0; -webkit-border-radius:0; border-radius:0; padding:1em 2em 1.5em 2em; }
		
			#content fieldset.settings legend {
				margin:0 -0.6em; padding:0 0.6em; display:block; }
			
			#content .settings .joined {
				clear:left; }
				
				#content .settings .joined label {
					float:left; width:18em; clear:none; }
			
			#content .settings label {
				display:block; float:left; clear:left; }
				
				#content .settings label.checkbox, #content .settings label.text {
					padding-top:0.8em; float:none; }
				
				#content .settings label span {
					display:block; float:none; width:auto; padding-top:0.8em; }
				
				#content .settings textarea {
			                width:100%; height:6em; padding:0.2em; margin:0.8em 0; min-height:6em}
				
				#content .settings input.text, #content .settings select {
					float:none; margin-bottom:0; width:15em; float:left; }
					
					#content .settings input.text.short {
						width:2em; text-align:center; }
						
					#content .settings label.text select, #content .settings label.text input.text {
						float:none; }
					
					#content .settings select {
						width:15.6em; }
						
			#content .settings ul {
				list-style-type:none; margin:0; }
				
				#content .settings li {
					padding-top:0.8em; display:block; }
					
					#content .settings li label {
						float:none; }
			
			#content .settings .error {
				float:none; clear:left; padding-top:0; } 
				
			#content .settings .controls {
				float:none; text-align:left; clear:both; margin:0;
				padding:0.1em 0 0 0; position:relative; }
				
				#content .settings .controls hr {
					margin-right:-0.5em; }
				
				#content .settings .controls .reset {
					float:none; margin-left:1em; }
					
			#content .register.controls {
				text-align:left; }
				
				#content .register.controls .submit {
					padding:0.4em 2.5em; }
						
		/* settings */
		
		#content .user_head {
			margin-bottom:3.2em; min-height:52px; overflow:visible; }
			
			.stat_item {
				padding-top:1.6em; clear:left; }
			.stat_image {
				text-align:center;
			}
				
			.font_size_demo {
				font-size:16px; width:26em; border-width:1px; border-style:solid; padding:0.3em 0.5em; }
				
				#content fieldset .font_size_demo span {
					float:none; display:block; padding:0; width:auto; }
			
			#content fieldset.images hr {
				margin-right:0; margin-left:0; }
			
			#content fieldset.images ul {
				clear:both; }
				
				#content fieldset.images li {
					float:left; clear:none; padding:0 1.6em 1.6em 0; }
			
					#content fieldset.images li a {
						border-width:1px; border-style:solid; display:block; float:left; }
						
				#content fieldset.images .current {
					margin:0.8em 0 2.4em 0; }
					
					#content fieldset.images .current img  {
						border-width:1px; border-style:solid; float:left; margin:0 2.4em 0.6em 0; }
						
					#content fieldset.images .current h4 {
						clear:none; margin-bottom:0.8em; }
						
					#content fieldset.images .current p span {
						float:none; display:inline; }
					
					#content fieldset.images .current .submit.upload {
						padding-left:0.4em; padding-right:0.4em; margin-left:0.3em; }
			
			

/* forums */
.forums {
	width:100%; border-width:1px; border-style:solid; clear:both; margin-bottom:0.4em; line-height:1.3em; }
	
	.forums.main {
		margin:2.5em 0; }

	.forums td, .forums th {
		text-align:left; font-weight:normal; }
		
	.forums td {
		vertical-align:top; padding:0.7em 0.4em 0.4em 0.4em; line-height:1.3em; }
	
	.forums.main td.name {}
		
		#content .forums.main .info {
			margin-bottom:0.6em; }
			
		#content .forums .info {
			margin-bottom:0; }
			
	.forums th {
		padding:0 0.4em; border-top-width:1px; border-style:solid; border-bottom-width:1px; }
		
	.forums .main_title {
		padding:0.3em 0 0.3em 0.8em; }
	
	#content .forums .messages, #content  .forums .views, #content .forums .threads {
		width:0.1em; }
		
	.forums .threads, .forums .messages, .forums .views, .forums td.author, .forums th.author {
		text-align:center; }
		
		.forums .views span {
			font-size:0.95em; color:#666; display:block; }
	
	.forums .icon {
		border-right-width:0; vertical-align:top; font-size:1.5em; line-height:0.5em;
		padding:0.53em; cursor:default; width:0.6em; text-align:center; }
		
	.forums td.name {
		border-left-width:0;}
		
	.forums .last_msg {
		text-align:left; min-width:0.1em; padding-left:0.8em; padding-right:0.8em; white-space:nowrap; }
		
		.forums .last_msg .date {
			display:block; font-size:0.95em; }
		
	#content .forums h3 {
		margin:0; padding:0; font-size:1.1em; line-height:1.1em; }
		
	#content .forums h4 {
		border-width:0; margin:0 0 1.2em 0; padding:0; font-size:1.05em; }
		
		#content .forums h3 span {
			font-size:0.864em; }
			
		#content .forums h3 span a {
			padding:0 0.05em; }
		
		#content .forums .name div a {
			font-size:0.95em; text-decoration:none; }
			
			#content .forums .name div a:hover {
				text-decoration:underline; }
		
	#content .forums.main h3 {
		font-size:1.2em; }
		
	#content .forums p {
		padding:0; text-align:left; }
		
	.forums #crta {
		padding:0; height:2px; }
		
	#content .pages {
		float:none; padding:0; margin:0; }
			
		#content .pages a, #content .pages span {
			padding:0 0.05em; }
			
			#content .pages a.selected {
				border-width:0; }

/* forum post */
.post {
	border-width:1px; border-style:solid; margin:0.4em 0; position:relative;
	padding:8px 1em 1em 82px; clear:both; min-height:52px; zoom: 1; } /* TODO: IE */
	
	#content .post h4 {
		margin:0; font-size:1.2em; line-height:1.333em; float: left; }
		
		#content .post h4 span {
			font-size:0.833em; font-weight:normal; }
			
	.post .content {
		clear:both; padding-top:1.6em; }
		
	.post .signature {
		font-size:0.95em; line-height:1.3em; border-top-width:1px; border-top-style:solid; max-width:40em;
		padding-top:0.5em; margin-top:1.3em; }
		
	.post .avatar {
		position:absolute; left:15px; top:1em; margin:0; float:none; display:inline; clear: left;}
	
	.post .controls {
		display:inline; margin:0 0 0 1em; position:relative; line-height:1.2em; }
		
		.post .controls a {
			float:right; margin:0.2em 0; }
			
		#content .post .controls .extra {
			display:inline; }
			
			#content .post .controls ul {
				display:inline; list-style-type:none; }
				
				#content .post .controls ul li {
					float:right; padding:0; }
					
					#content .post .controls ul li a {
						float:none; display:block; padding:0 0.6em; border-right-width:2px;
						border-style:solid; }
						
						#content .post .controls ul li.first a {
							margin-right:0.6em; }
	
	.post hr {
		margin:0; margin-bottom:1em; clear:right; }
		
	#content hr.forum {
		margin:1em 0; }
		
.quick_reply {
	padding-top:1.6em; clear:both; margin-right:0.4em; padding-right:2px; }
		
	.quick_reply textarea {
		width:100%; height:13em; padding:0.2em; margin:0.8em 0; min-height:13em}
		
	.quick_reply .submit {
		float:right; }

	.quick_reply fieldset {
		border-width:0; padding:0; margin:0em 0 0em 0; }
	.quick_reply label {
		display:block; width:20em; }
			
	.quick_reply fieldset label {
		width:28em; }

#content .set {
	float:left; list-style-type:none; margin:0 0.6em; padding:0.2em 0.6em; border-width:1px; border-style:solid; }

#content .set.top {
	border-bottom:0; margin-top:0.3em; }

#content .set.bottom {
	border-top:0; margin-top:-0.3em; }
	
	#content .set a {
		color:#666; }
	
	#content .set li {
		float:left; margin:0; padding:0; padding-left:1em; margin-left:0.7em;
		border-left-width:1px; border-left-style:solid; padding-right:0.3em; }
		
	#content .set li.first {
		border-left-width:0; margin-left:0; padding-left:0;  }

#content .button {
	float:right; border-width:1px; border-style:solid;  padding:0.2em 1em; margin-bottom:0.4em; }
	
#content .pages {
	float:right; padding:1px; margin:0.2em 0.6em; }
	
#content .thread_nav {
	clear:both; padding-top:3em; margin:0 0 2em 0; overflow:visible; text-align:center; line-height:2em; }
	
	.thread_nav li {
		display:inline; border-left-width:1px; border-left-style:solid; padding:0 0.8em; white-space:nowrap; }
		
	.thread_nav li.prev {
		border-left-width:0; }
		
	#content .thread_nav select {
		margin-right:0.3em; width:14em; }
		
/* settings */
.avatar {
		border-width:1px; border-style:solid; width:50px; height:50px; display:block; float:left; margin-right:1em;  }

/* calendar */
html #content span.cal_placeholder, html #panels span.cal_placeholder {
	 position:relative; overflow:visible; float:left; margin:0; padding:0;
	 width:1px; overflow:visible; }

	.date_icon {
		width:20px; position:absolute; top:0; cursor:pointer; left:3px; }
		
#calendar {
		border-width:1px; border-style:solid; float:left; line-height:1.7em; width:17.5em; position:absolute;
		padding:0.4em 0.2em; top:0; left:3px; z-index:4; font-size:0.95em; }
		
	#calendar td {
		width:2.5em; text-align:center; line-height:1.7em; }
		
	#calendar td a {
		display:block; text-decoration:none; }

	#content #calendar .controls, #calendar .controls {
		float:right; padding:0 0.3em; margin:0; }
		
		#calendar .controls a {
			padding:0 0.3em; }
	
	#calendar h5 {
		padding:0 0.3em; border-width:0; margin:0; }
		
	#calendar hr, #content #calendar hr {
		padding:0; margin:0.3em 0.3em 0 0.3em; height:1px; border-width:0; clear:both; }

/* auto-complete */
.autocomplete_placeholder {
	position:relative; width:1px; height:1px; margin-left:-1px; float:left; }
	
	html #content .autocomplete_list {
		border-width:1px; border-style:solid; position:absolute; top:0;
		margin:0; right:0; list-style-type:none; display:none; z-index:6;
		overflow:auto; float:none; margin-top:-2px; }
		
	html #content .autocomplete_list li {
		padding:0 0.2em; display:block; white-space:nowrap;
		overflow:hidden; cursor:pointer; }
		
	#content .autocomplete_list li.no_results {
		cursor:default; }


@media print {
	#menus {
		display:none;
		width: 0;
	}
	#panels {
		display:none;
		width: 0;
	}
	#head {
		display:none;
	}
	#footer {
		display: none;
	}
	#page_content {
		margin: 0;
	}

	.quick_reply, .thread_nav, #content form, a .button, ul .set {
		display:none;
	}

}


#article_exposed {width: 28em; float: left; height: 21em; margin: 0 4em 2em 0; border-bottom:1px solid #AAA;}
#article_last_10 {float: left; margin: 0 4em 2em 0;}
.article_exposed_img {float: left; margin:0 1em 1.66em 0; border: 1px solid #AAA;}
.article_exposed_info {clear: left;}
#article_exposed hr, #article_exposed_right hr {margin: 0.6em 0 0 ;}
.article_older li {list-style: none; float: left; margin:0 1em 1em 0;}
.article_older ul {clear: left;}
.article_older a {margin-right:1em;}

#panels .hottopics ul li {list-style:disc; margin:0 0 5px 10px;}
.user-quoted {font-style:italic; font-family:georgia,times,serif;}
.news_item.short {float: left; border-top:1px solid #AAA; padding: 1em 0;}
.news_item.short .data {clear: left; color: #888;}
.news_item.short .image .data p {margin: 0 0.5em 0 0; padding-bottom: 0 !important; display: inline;}

.news_item.short .image img {text-align: center;}
.news_item.short .image {margin: 1em auto; width:200px;}
.news_item.short .image .source {color: #888;}
.news_item.short .image .source:before {content: "| ";}

.news_item.exposed .image {width: 202px; float: right; margin: 0 1em 1em 1em;}

.news_item.exposed:last-of-type {clear: both; }

.news_item.exposed .related {box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; float: left; margin-right: 2em}
.news_item.exposed .history {max-width: 50%; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; float: left;clear:right}

.older_news_list {clear: both;}
.news_item.short .besediloNovice {clear: left;}

a.comments {font-weight: bold; font-size: 1.05em;}
.news_item.short .read_more {padding:1.1em 0 0 0 !important; float:left; margin-right: 1em}
.news_item.short .comments {margin: 0.3em 0 0 0; white-space:nowrap; float:left;}
.news_item.short .read_more:after {margin:0 0.5em;}

.news_item.denied.short {
	padding: 1em !important;
}

p.read_more a {padding:0.2em 0.3em 0 25px; background:url(http://static.slo-tech.com/stili/readmore.png) no-repeat center left; }

#login-small {display: none;}

@media (min-width:0px) and (max-width:999px) {
	#banner {display: none;}
	#fresh_articles {padding-right: 0;}
	.news_item.exposed .image {clear: right;}
	.signature {display: none}
	.news_item.short .image, .news_item.short .youtube-player {width: 202px; float: right; margin: 0 1em 1em 1em;}
}

@media (min-width:1000px) and (max-width:1300px) {
	.news_item.short {max-width: 50%; height: 100%; border-top:1px solid #AAA; margin: 0; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; padding: 1em;}
	.news_item.short:nth-of-type(even) {padding-right: 0;}
	.news_item.short:nth-of-type(odd) {clear: left; padding-left: 0;}
	.news_item.exposed .image:nth-of-type(2n+1) {clear: right;}
	}

@media (min-width:1301px) and (max-width:1680px) {
	.news_item.short {max-width: 33%; height: 100%; border-top:1px solid #AAA; margin: 0; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; padding: 1em;}
	.news_item.short:nth-of-type(3n) {padding-right: 0;}
	.news_item.short:nth-of-type(3n+1) {clear:left; padding-left: 0;}
	.news_item.exposed .image:nth-of-type(2n+1) {clear: right;}
	}

@media (min-width:1681px) and (max-width:1920px) {
	.news_item.short {max-width: 25%; height: 100%; border-top:1px solid #AAA; margin: 0; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; padding: 1em;}
	.news_item.short:nth-of-type(4n) {padding-right: 0;}
	.news_item.short:nth-of-type(4n+1) {clear:left; padding-left: 0;}
	.news_item.exposed .image:nth-of-type(3n+1) {clear: right;}
	}

@media (min-width:1921px) {
	.news_item.short {max-width: 20%; height: 100%; border-top:1px solid #AAA; margin: 0; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; padding: 1em;}
	.news_item.short:nth-of-type(5n) {padding-right: 0;}
	.news_item.short:nth-of-type(5n+1) {clear: left; padding-left: 0;}
	.news_item.exposed .image:nth-of-type(3n+1) {clear: right;}
	}
@media (min-height:1000px) {
	#logo {
		position:fixed; left: -120px; margin-left:13em; padding:0 2em; top: 1.8em; margin-top:30px;
	}
	#page_content #menus {
		position:fixed; left: 0em; top: 88px; padding-top:4em;
	}
}

@media (min-width:0px) and (max-width:999px) {
	#banner {display: none;}
	#fresh_articles {padding-right: 0;}
	.news_item.exposed .image {clear: right;}
	.signature {display: none}
	#panels {display: none;}
	#page_content {margin-right:0em;}
	#footer {margin-right:1em;}
	.news_item.short .image, .news_item.short .youtube-player {width: 202px; float: right; margin: 0 1em 1em 1em;}
	
	#login-small {
			margin-top:-62px; width:475px; height:62px; float:right; display:block;
			position:relative; z-index:5; background-color: white; }
	
	#login-small div div {
			width:auto; height:auto; float:none; }
			
	#login-small .user {margin-left: 1em;}

	#login-small div {
		border-width:1px; border-style:solid; margin-bottom:2.4em;
		-moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px; }
	
		#login-small h2 {
			padding:0 0.8em; -moz-border-radius-topleft:8px; -moz-border-radius-topright:8px;
			-webkit-border-top-right-radius:8px; -webkit-border-top-left-radius:8px;
			border-top-right-radius:8px; border-top-left-radius:8px; 
			color:#349ba8; background:#eaf5f6; border-bottom:1px solid #ddd;
			}
			
		#login-small div div {
			padding:0 0.8em 0.7em 0.8em; list-style-type:none; margin:0.6em 0 0 0; border-width:0;
			-moz-border-radius:0; -webkit-border-radius:0; border-radius:0; width:auto; }
				
			#login-small ul {
				list-style-type:none; float: right; margin-top: -1.5em;}
				
				#login-small ul li {
					padding:0; margin:0 1em 0 0; display: inline; font-size: 0.9em;}
						
			#login-small li.username {
				clear: right;
				}
			
			#login-small legend {
				display:none; }
				
			#login-small label {
				display:block; padding-bottom:0.8em; clear:left; display: inline;}
						
			#login-small span {display: inline;}
			
			#login-small span img {width: 16px; height:16px; margin: 0 0.4em; vertical-align: middle;}
			
			#login-small input.submit {padding: 0.1em 0.3em; font-size: 0.9em; margin-top: 0.7em;}
			
			#login-small label #login_remember {display: inline;}
			#login-small label a {font-size: 0.9em;}
			
			#login-small label span {margin-right: 0.2em;}
				
			#login-small input.text, #panels input.datetime {
				width:8em; padding:0.1em 0.2em; margin-right: 0.5em;}			
				
			#login-small select {
				width:10.5em; }
	
			#login-small ul.signed_in {float: none; display: block; margin-top: 0.9em; height: 41px;}
			
			#login-small ul.signed_in img {width: 36px; margin-left: 0.3em;}
			
			#login-small .signed_in .username {font-size: 1em;}

}
div.light_rounded .pp_top .pp_left{background: url(/stili/prettyPhoto/light_rounded/sprite.png) -88px -53px no-repeat;}
div.light_rounded .pp_top .pp_middle{background:#fff;}
div.light_rounded .pp_top .pp_right{background: url(/stili/prettyPhoto/light_rounded/sprite.png) -110px -53px no-repeat;}
div.light_rounded .pp_content .ppt{color:#000;}
div.light_rounded .pp_content_container .pp_left,div.light_rounded .pp_content_container .pp_right{background:#fff;}
div.light_rounded .pp_content{background-color:#fff;}
div.light_rounded .pp_next:hover{background: url(/stili/prettyPhoto/light_rounded/btnNext.png) center right no-repeat;cursor: pointer;}
div.light_rounded .pp_previous:hover{background: url(/stili/prettyPhoto/light_rounded/btnPrevious.png) center left no-repeat;cursor: pointer;}
div.light_rounded .pp_expand{background: url(/stili/prettyPhoto/light_rounded/sprite.png) -31px -26px no-repeat;cursor: pointer;}
div.light_rounded .pp_expand:hover{background: url(/stili/prettyPhoto/light_rounded/sprite.png) -31px -47px no-repeat;cursor: pointer;}
div.light_rounded .pp_contract{background: url(/stili/prettyPhoto/light_rounded/sprite.png) 0 -26px no-repeat;cursor: pointer;}
div.light_rounded .pp_contract:hover{background: url(/stili/prettyPhoto/light_rounded/sprite.png) 0 -47px no-repeat;cursor: pointer;}
div.light_rounded .pp_close{width:75px;height:22px;background: url(/stili/prettyPhoto/light_rounded/sprite.png) -1px -1px no-repeat;cursor: pointer;}
div.light_rounded #pp_full_res .pp_inline{color:#000;}
div.light_rounded .pp_gallery a.pp_arrow_previous,div.light_rounded .pp_gallery a.pp_arrow_next{margin-top:12px !important;}
div.light_rounded .pp_nav .pp_play{background: url(/stili/prettyPhoto/light_rounded/sprite.png) -1px -100px no-repeat;height:15px;width:14px;}
div.light_rounded .pp_nav .pp_pause{background: url(/stili/prettyPhoto/light_rounded/sprite.png) -24px -100px no-repeat;height:15px;width:14px;}
div.light_rounded .pp_arrow_previous{background: url(/stili/prettyPhoto/light_rounded/sprite.png) 0 -71px no-repeat;}
div.light_rounded .pp_arrow_previous.disabled{background-position:0 -87px;cursor:default;}
div.light_rounded .pp_arrow_next{background: url(/stili/prettyPhoto/light_rounded/sprite.png) -22px -71px no-repeat;}
div.light_rounded .pp_arrow_next.disabled{background-position: -22px -87px;cursor:default;}
div.light_rounded .pp_bottom .pp_left{background: url(/stili/prettyPhoto/light_rounded/sprite.png) -88px -80px no-repeat;}
div.light_rounded .pp_bottom .pp_middle{background:#fff;}
div.light_rounded .pp_bottom .pp_right{background: url(/stili/prettyPhoto/light_rounded/sprite.png) -110px -80px no-repeat;}
div.light_rounded .pp_loaderIcon{background: url(/stili/prettyPhoto/light_rounded/loader.gif) center center no-repeat;}
div.pp_pic_holder a:focus{outline:none;}
div.pp_overlay{background:#000;display: none;left:0;position:absolute;top:0;width:100%;z-index:9500;}
div.pp_pic_holder{display: none;position:absolute;width:100px;z-index:10000;}
.pp_top{height:20px;position: relative;}
* html .pp_top{padding:0 20px;}
.pp_top .pp_left{height:20px;left:0;position:absolute;width:20px;}
.pp_top .pp_middle{height:20px;left:20px;position:absolute;right:20px;}
* html .pp_top .pp_middle{left:0;position: static;}
.pp_top .pp_right{height:20px;left:auto;position:absolute;right:0;top:0;width:20px;}
.pp_content{height:40px;}
.pp_fade{display: none;}
.pp_content_container{position: relative;text-align: left;width:100%;}
.pp_content_container .pp_left{padding-left:20px;}
.pp_content_container .pp_right{padding-right:20px;}
.pp_content_container .pp_details{float: left;margin:10px 0 2px 0;}
.pp_description{display: none;margin:0 0 5px 0;}
.pp_nav{clear: left;float: left;margin:3px 0 0 0;}
.pp_nav p{float: left;margin:2px 4px;}
.pp_nav .pp_play,.pp_nav .pp_pause{float: left;margin-right:4px;text-indent: -10000px;}
a.pp_arrow_previous,a.pp_arrow_next{display:block;float: left;height:15px;margin-top:3px;overflow: hidden;text-indent: -10000px;width:14px;}
.pp_hoverContainer{position:absolute;top:0;width:100%;z-index:2000;}
.pp_gallery{left:50%;margin-top: -50px;position:absolute;z-index:10000;}
.pp_gallery ul{float: left;height:35px;margin:0 0 0 5px;overflow: hidden;padding:0;position: relative;}
.pp_gallery ul a{border:1px #000 solid;border:1px rgba(0,0,0,0.5) solid;display:block;float: left;height:33px;overflow: hidden;}
.pp_gallery ul a:hover,.pp_gallery li.selected a{border-color:#fff;}
.pp_gallery ul a img{border:0;}
.pp_gallery li{display:block;float: left;margin:0 5px 0 0;}
.pp_gallery li.default a{background: url(/stili/prettyPhoto/facebook/default_thumbnail.gif) 0 0 no-repeat;display:block;height:33px;width:50px;}
.pp_gallery li.default a img{display: none;}
.pp_gallery .pp_arrow_previous,.pp_gallery .pp_arrow_next{margin-top:7px !important;}
a.pp_next{background: url(/stili/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;display:block;float: right;height:100%;text-indent: -10000px;width:49%;}
a.pp_previous{background: url(/stili/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;display:block;float: left;height:100%;text-indent: -10000px;width:49%;}
a.pp_expand,a.pp_contract{cursor: pointer;display: none;height:20px;position:absolute;right:30px;text-indent: -10000px;top:10px;width:20px;z-index:20000;}
a.pp_close{display:block;float: right;line-height:22px;text-indent: -10000px;}
.pp_bottom{height:20px;position: relative;}
* html .pp_bottom{padding:0 20px;}
.pp_bottom .pp_left{height:20px;left:0;position:absolute;width:20px;}
.pp_bottom .pp_middle{height:20px;left:20px;position:absolute;right:20px;}
* html .pp_bottom .pp_middle{left:0;position: static;}
.pp_bottom .pp_right{height:20px;left:auto;position:absolute;right:0;top:0;width:20px;}
.pp_loaderIcon{display:block;height:24px;left:50%;margin: -12px 0 0 -12px;position:absolute;top:50%;width:24px;}
#pp_full_res{line-height:1 !important;}
#pp_full_res .pp_inline{text-align: left;}
#pp_full_res .pp_inline p{margin:0 0 15px 0;}
div.ppt{color:#fff;display: none;font-size:17px;margin:0 0 5px 15px;z-index:9999;}
.clearfix:after{content: ".";display:block;height:0;clear:both;visibility: hidden;}
.clearfix {display: inline-block;}
* html .clearfix {height:1%;}
.clearfix {display:block;}


.autocomplete-w1 { background:url(img/shadow.png) no-repeat bottom right; position:absolute; top:0px; left:0px; margin:8px 0 0 6px; /* IE6 fix: */ _background:none; _margin:0; }
.autocomplete { border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; }
.autocomplete .selected { background:#F0F0F0; }
.autocomplete div { padding:2px 5px; white-space:nowrap; }
.autocomplete strong { font-weight:normal; color:#3399FF; }